

.modalbody{
    background: linear-gradient( #2c348c,  #5b8bdc );
}


.temaColor{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    width: 100%;
    background: linear-gradient( #2c348c,  #5b8bdc );
    font-family: Arial, Helvetica, sans-serif;
}

/*the body*/

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
}

.card
{
    position: relative;
    width: 260px;
    height: 240px;
    margin: 5px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}


.card .content
{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}
.card:hover,
.card:active {
    background-color: white ;
}


.card .content img
{
    width: 100%;
}






/*button dispensar*/
.btnDisp{
    position: absolute;
    display: flex;
    bottom: -130px;
}


.buttonDisp {
    background-color: #2c348c;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .buttonDisp:hover,
  .buttonDisp:active {
    background-color: #0064bd;
    box-shadow: none;
  }















  /*-----------------------*/